$text-font: monospace;
$colour-one: rgb(107, 159, 207);
$colour-two: rgb(84, 82, 167);
$icon-size: 1.75rem;

* {
    
    margin:0;
    word-wrap: break-word;
}

body {
    background-color: $colour-one;
}

header {
    display:block;
    padding:0;
    margin:0;
    #header-div {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        p {
            font-family: $text-font;
            padding:8px;
            font-size: 1.2em;
        }
        ul {
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            background-color: $colour-two;
            padding:8px;
            border-radius: 8px;
            font-size: $icon-size;
            color:black;
            li {
                
            
                i {
                    transition: all 0.8s ease-in-out;
                    padding:8px;
                }
                i:hover{
                    transform:rotate(360deg)
                }
                
            }
        }
        img {
            margin: 12px;
            padding: 0;
            border-radius: 50%;
            height: 200px;
            width: 200px; 
            overflow: hidden; 
            box-shadow: 12px 12px 16px 8px black;
        }
    }
    
}
.no-link-colour {
    color: inherit;
}
h1 {
    padding:24px;
    max-width: 100%;
    background-color: $colour-two;
    text-align: center;
    font-family: $text-font;
    font-size: 2.75em;
}


main {
    
    max-width: 100%;

    #tabs {
        .tab {
            display:block;
            margin: 12px;
            border-radius: 12px;
            background-color: $colour-two;
            padding:16px;
            
            
            
            h2 {
                font-family: $text-font;
                font-weight:bold;
                font-size: 2.2em;
                padding: 16px 0;
            }
            ul {
                li {
                    font-size: 1.25em;
                    font-family: $text-font;
                    font-weight: bold;
                    list-style: none;
                    max-width: 75%;
                    
                }
                li::before {
                    content: "\25B8";
                    padding:4px;
                
                }
            }
            
        }

        #classes {
            display: block;
            strong {
                font-family: $text-font;
                font-size: 1.5em;
                text-decoration: underline;    
                
            }
            p {
                font-size: 1.25em;
            }
            ul {
                display:flex;
                list-style-type: none;
                margin:0;
                padding: 16px 0;
                font-size: 1.2em;
                li::before {
                    content: "";
                }
                li::after {
                    content: ", ";
                }
            }
        }


        #icons.tab {
            transition: transform 2s;
                text-align: center;
                
                i {
                    transition: all .15 ease-in-out;
                    padding: 0 5px;
                    font-size: $icon-size;                     
                    color:black;                
                }
                i:hover {
                    transform: rotate(360deg);
                }
            }
        }
    }
    
.hover-expand {
    transition: .15s ease-in-out;

    
}

.hover-expand:hover {
    
        transform: scale(1.01);
}

.hover-expand-image {
    transition: .3s ease-in-out;

    
}

.hover-expand-image:hover {
    
        transform: scale(1.15);
}



footer {
    
    text-align: center;
    font-family: $text-font;
    font-size: 1.2em;
}